:root.theme-dark {
  --main-text-color: #f1b2ce;
  --main-heading-color: #00183f;
  --section-heading-color: #ff0070;
  --header-logo-color: #db00ff;
  --main-bg-color: #00183f;
  --accent-color-dark: #ff0070;
  --nav-color: #ff0070;
  --footer-logo-color: #db00ff;

  background-image: url(./images/cover-image-dark.png);
}

.theme-dark .header__rec {
  display: block;
}

.theme-dark .header__theme-menu-button_active {
  border: 1px solid var(--nav-color)
}

.theme-dark .header__theme-menu-button:hower {
  --nac-hover-color: rgb(255 0 112 / 0.4)
}
