:root.theme-dark {
  --page-background-image: url(../images/cover-image-dark.png);
  --main-text-color: #f1b2ce;
  --main-heading-color: #000028;
  --section-heading-color: #ff0070;
  --header-logo-color: #db00ff;
  --main-bg-color: #000028;
  --accent-color: #ff0070;
  --nav-color: #ff0070;
  --footer-logo-color: #db00ff;
  --header-decor-display: block;
  --nav-hover-color: rgb(255 0 112 / 0.4);
}

.theme-dark .header__rec {
  display: block;
}

.theme-dark .header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}

.theme-dark .header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover-color, rgb(255 0 112 / 0.4));
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-background-image: url(../images/cover-image-dark.png);
    --main-text-color: #f1b2ce;
    --main-heading-color: #000028;
    --section-heading-color: #ff0070;
    --header-logo-color: #db00ff;
    --main-bg-color: #000028;
    --accent-color: #ff0070;
    --nav-color: #ff0070;
    --footer-logo-color: #db00ff;
    --header-decor-display: block;
    --nav-hover-color: rgb(255 0 112 / 0.4);
  }
  
  .page {
    background-image: var(--page-background-image);
  }
}
