/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --page-background-image: url(../images/cover-image-light.png);
  --main-bg-color: #fff1f7;
  --main-text-color: #353430;
  --nav-color: #353430;
  --header-logo-color: #ffc2e6;
  --footer-logo-color: #ffc2e6;
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --accent-color: #ff8dcb;
  --header-decor-display: none;
  --nav-hover-color: rgb(50 49 45 / 0.4);
}

.theme-light .header__rec {
   display: none;
}

.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover-color, rgb(50 49 45 / 0.4));
}

@media (prefers-color-scheme: light) {
  :root {
    --page-background-image: url(../images/cover-image-light.png);
    --main-bg-color: #fff1f7;
    --main-text-color: #353430;
    --nav-color: #353430;
    --header-logo-color: #ffc2e6;
    --footer-logo-color: #ffc2e6;
    --main-heading-color: #353430;
    --section-heading-color: #353430;
    --accent-color: #ff8dcb;
    --header-decor-display: none;
    --nav-hover-color: rgb(50 49 45 / 0.4);
  }

  .page {
    background-image: var(--page-background-image);
  }

  .header__rec {
    display: none;
  }
}





