.page {
  font-family: var(--main-font-family, 'IBM Plex mono'), monospace;
  background-color: var(--main-bg-color, #000028);
  background-image: var(--page-background-image, url(../images/cover-image-dark.png));
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--main-text-color, #f1b2ce);
  font-size: var(--main-text-size, 18px);
  line-height: var(--main-line-height, 1.3);
}

.decor-corners {
  position: relative;
}

.decor-corners::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color, #ff0070);
  border-left: none;
  border-bottom: none;
}

.decor-corners::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color, #ff0070);
  border-right: none;
  border-top: none;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  min-height: 668px;
  height: 100dvb;
  margin-bottom: 40px;
}

.header__decor-element {
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--accent-color, #ff0070);
  font-size: var(--main-text-size, 18px);
  display: var(--header-decor-display, block);
}

.header__decor-element::before {
  content: "rec";
  margin-right: 10px;
  display: inline-block;
  text-transform: uppercase;
  color: var(--accent-color, #ff0070);
}

.header__decor-element::after {
  content: "";
  display: inline-block;
  margin-bottom: 2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-top: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap, 10px);
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__theme-menu-item {
  display: flex;
  justify-content: center;
}

.header__theme-menu-button {
  position: relative;
  border: 1px solid transparent;
  padding: 2px 13px;
  color: var(--nav-color, #ff0070);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  font-size: var(--main-text-size, 18px);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--nav-color, #ff0070);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-color, #ff0070);
  opacity: 0.7;
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color, #ff0070);
  pointer-events: none;
}

.header__title {
  font-size: var(--header-logo-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  color: var(--header-logo-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  line-height: 0.825;
  font-weight: 700;
}

.header__text {
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--main-heading-color, #000028);
  font-weight: 700;
  line-height: var(--main-line-height, 1.3);
}

.main {
  display: grid;
  gap: 50px;
  padding: 0 10px;
  margin-bottom: 40px;
}

.main__section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3;
  gap: var(--main-gap, 10px);
}

.main__section-title {
  color: var(--section-heading-color, #ff0070);
  font-size: var(--main-text-size, 18px);
  font-weight: 700;
}

.main__article {
  display: grid;
  gap: var(--main-gap, 10px);
}

.main__article-title {
  font-size: var(--main-text-size, 18px);
  font-weight: 700;
  line-height: var(--main-line-height, 1.3);
}

.main__article-subtitle {
  font-size: var(--main-text-size, 18px);
  font-weight: 700;
  line-height: var(--main-line-height, 1.3);
}

.main__article-text {
  color: var(--main-text-color, #f1b2ce);
  font-size: var(--main-text-size, 18px);
  line-height: var(--main-line-height, 1.3);
}

.main__link {
  color: var(--main-text-color, #f1b2ce);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.main__link:hover {
  text-decoration: underline;
}

.main__link:focus {
  outline: none;
}

.main__link:focus-visible {
  outline: 1px solid var(--main-text-color, #f1b2ce);
}

.gallery {
  display: grid;
  gap: var(--main-gap, 10px);
}

.main__gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 668px;
  height: 100dvb;
  padding: 10px;
  position: relative;
}

.footer__title {
  font-size: var(--footer-logo-size);
  color: var(--footer-logo-color);
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  line-height: 0.825;
  font-weight: 700;
}


@media (width >= 768px) {
  .header {
    margin-block-end: 60px;
    padding: 20px;
    min-block-size: 1024px;
  }

  .decor-corners::after {
    top: 20px;
    right: 20px;
  }

  .decor-corners::before {
    bottom: 20px;
    left: 20px;
  }

  .header__decor-element {
    top: 20px;
    right: 30px;
  }

  .header__theme-menu {
    margin-block-start: 170px;
  }

  .header__title {
    margin-inline-start: -3%;
  }

  .header__text {
    inline-size: 50%;
    justify-self: end;
  }

  /* Main */

  .main {
    padding-inline: 20px;
    margin-bottom: 3px;
    gap: 80px;
  }

  .difficulty-concentrating {
    grid-template: repeat(2, 1fr) / 1fr 2fr;
  }

  .difficulty-concentrating .main__section-title {
    grid-area: 1 / 1 / 2 span/ 1 span;
  }

  .decrease-concentration .main__section-title {
    inline-size: min-content;
  }

  .concentration-techniques {
    grid-template-columns: 1fr 2fr;
  }

  .gallery {
    gap: 20px;
    grid-template: min-content 3fr 3fr 4fr / 1fr 1fr 1fr;
    max-block-size: calc(100% - 7%);
  }

  .gallery .main__article-title {
    grid-area: 1 / 1 / 2 / 4;
  }

  .gallery img:nth-child(2) {
    grid-area: 2 / 1 / 3 / 3;
  }

  .gallery img:nth-child(3) {
    grid-area: 2 / 3 / 4 / 4;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .gallery img:nth-child(4) {
    grid-area: 3 / 1 / 5 / 2;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .gallery img:nth-child(5) {
    grid-area: 3 / 2 / 4 / 3;
  }

  .gallery img:nth-child(6) {
    grid-area: 4 / 2 / 5 / 4;
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  /* Footer */

  .footer {
    padding-inline: 20px;
    min-block-size: 1024px;
  }
}

@media (width >= 1024px) {

  /* Header */

  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    margin-block-start: 0;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    margin-inline-start: -1px;
    margin-block-start: -2px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
    margin-inline-start: -2%;
  }

  /* Main */

  .main {
    margin-block-end: -13px;
  }

  .difficulty-concentrating {
    column-gap: 12px;
  }

  .decrease-concentration {
    grid-template: min-content 1fr / repeat(3, 1fr);
  }

  .decrease-concentration .main__section-title {
    grid-area: 1 / 1 / 2 / 4;
    inline-size: calc(100% / 3);
  }

  .decrease-concentration .main__article {
    grid-template-rows: min-content 1fr;
  }

  .decrease-concentration .main__article-title {
    align-self: start;
  }

  .concentration-techniques {
    column-gap: 12px;
  }

  /* Footer */

  .footer {
    min-block-size: 768px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .decor-corners::after {
    top: 20px;
    right: 20px;
  }

  .decor-corners::before {
    bottom: 20px;
    left: 20px;
  }
}
