.page {
  font-family: var(--main-font-family, 'IBM Plex mono'), monospace;
  background-color: var(--main-bg-color, #000028);
  background-image: var(--page-background-image, url(../images/cover-image-dark.png));
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--main-text-color, #f1b2ce);
  font-size: var(--main-text-size, 18px);
  line-height: var(--main-line-height, 1.3);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color, #ff0070);
  border-left: none;
  border-bottom: none;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color, #ff0070);
  border-right: none;
  border-top: none;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  min-height: 668px;
  height: 100dvb;
  margin-bottom: 40px;
}

.header__decor-element {
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--accent-color, #ff0070);
  font-size: var(--main-text-size, 18px);
}

.header__decor-element::before {
  content: "rec";
  margin-right: 10px;
  display: inline-block;
  text-transform: uppercase;
  color: var(--accent-color, #ff0070);
}

.header__decor-element::after {
  content: "";
  display: inline-block;
  margin-bottom: 2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-top: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap, 10px);
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__theme-menu-item {
  display: flex;
  justify-content: center;
}

.header__theme-menu-button {
  position: relative;
  border: 1px solid transparent;
  padding: 2px 13px;
  color: var(--nav-color, #ff0070);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  font-size: var(--main-text-size, 18px);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--nav-color, #ff0070);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-color, #ff0070);
  opacity: 0.7;
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color, #ff0070);
  pointer-events: none;
}

.header__title {
  font-size: var(--header-logo-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  color: var(--header-logo-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  line-height: 0.825;
  font-weight: 700;
}

.header__text {
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--main-heading-color, #000028);
  font-weight: 700;
  line-height: var(--main-line-height, 1.3);
}

.main {
  display: grid;
  gap: 50px;
  padding: 0 10px;
  margin-bottom: 40px;
}

.main__section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3;
  gap: var(--main-gap, 10px);
}

.main__section-title {
  color: var(--section-heading-color, #ff0070);
  font-size: var(--main-text-size, 18px);
  font-weight: 700;
}

.main__article {
  display: grid;
  gap: var(--main-gap, 10px);
}

.main__article-title {
  font-size: var(--main-text-size, 18px);
  font-weight: 700;
  line-height: var(--main-line-height, 1.3);
}

.main__article-subtitle {
  font-size: var(--main-text-size, 18px);
  font-weight: 700;
  line-height: var(--main-line-height, 1.3);
}

.main__article-text {
  color: var(--main-text-color, #f1b2ce);
  font-size: var(--main-text-size, 18px);
  line-height: var(--main-line-height, 1.3);
}

.main__link {
  color: var(--main-text-color, #f1b2ce);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.main__link:hover {
  text-decoration: underline;
}

.main__link:focus {
  outline: none;
}

.main__link:focus-visible {
  outline: 1px solid var(--main-text-color, #f1b2ce);
}

.gallery {
  display: grid;
  gap: var(--main-gap, 10px);
}

.main__gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 668px;
  height: 100dvb;
  padding: 10px;
  position: relative;
}

.footer__title {
  font-size: var(--footer-logo-size);
  color: var(--footer-logo-color);
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  line-height: 0.825;
  font-weight: 700;
}


@media (width >= 768px) {
  .decor-corners::after {
    top: 20px;
    right: 20px;
  }

  .header__title {

  }

  .decor-corners::before {
    bottom: 20px;
    left: 20px;
  }

  .header {
    padding: 20px;
    margin-bottom: 60px;
  }

  .header__decor-element {
    top: 20px;
    right: 28px;
  }

  .header__theme-menu {
    margin-top: 170px;
  }

  .main {
    padding-inline: 20px;
    margin-block-end: 3px;
    gap: 80px;
  }

  .footer {
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-top: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  }
}
